---
http_interactions:
- request:
    method: get
    uri: https://npiregistry.cms.hhs.gov/api/?last_name=kemp&taxonomy_description=midwife&version=2.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result_count":4, "results":[{"enumeration_type": "NPI-1", "number":
        1427051499, "last_updated_epoch": 1381795200, "created_epoch": 1116892800,
        "basic": {"first_name": "LAURA", "last_name": "KEMP", "middle_name": "L",
        "credential": "CNM", "sole_proprietor": "NO", "gender": "F", "enumeration_date":
        "2005-05-24", "last_updated": "2013-10-15", "status": "A", "name": "KEMP LAURA"},
        "other_names": [], "addresses": [{"country_code": "US", "country_name": "United
        States", "address_purpose": "LOCATION", "address_type": "DOM", "address_1":
        "501 VAN BUREN ST", "address_2": "SUITE 203", "city": "FOSTORIA", "state":
        "OH", "postal_code": "448301534", "telephone_number": "419-435-4950", "fax_number":
        "419-435-0849"}, {"country_code": "US", "country_name": "United States", "address_purpose":
        "MAILING", "address_type": "DOM", "address_1": "501 VAN BUREN ST", "address_2":
        "SUITE 203", "city": "FOSTORIA", "state": "OH", "postal_code": "448301534",
        "telephone_number": "419-435-4950", "fax_number": "419-435-0849"}], "taxonomies":
        [{"code": "367A00000X", "desc": "Advanced Practice Midwife", "primary": true,
        "state": "OH", "license": "RN183006"}], "identifiers": [{"identifier": "2530434",
        "code": "05", "desc": "MEDICAID", "state": "OH", "issuer": ""}]},{"enumeration_type":
        "NPI-1", "number": 1316164577, "last_updated_epoch": 1183852800, "created_epoch":
        1176940800, "basic": {"first_name": "SAMARA", "last_name": "KEMP", "credential":
        "CNM", "sole_proprietor": "NO", "gender": "F", "enumeration_date": "2007-04-19",
        "last_updated": "2007-07-08", "status": "A", "name": "KEMP SAMARA"}, "other_names":
        [], "addresses": [{"country_code": "US", "country_name": "United States",
        "address_purpose": "LO[...]
