---
http_interactions:
- request:
    method: get
    uri: https://npiregistry.cms.hhs.gov/api/?last_name=Kemp&state=co&version=2.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result_count":10, "results":[{"enumeration_type": "NPI-1", "number":
        1023122447, "last_updated_epoch": 1183852800, "created_epoch": 1155945600,
        "basic": {"name_prefix": "DR.", "first_name": "JOHN", "last_name": "KEMP",
        "middle_name": "E", "credential": "MD", "sole_proprietor": "NO", "gender":
        "M", "enumeration_date": "2006-08-19", "last_updated": "2007-07-08", "status":
        "A", "name": "KEMP JOHN"}, "other_names": [], "addresses": [{"country_code":
        "US", "country_name": "United States", "address_purpose": "LOCATION", "address_type":
        "DOM", "address_1": "7720 S BROADWAY", "address_2": "STE 590", "city": "LITTLETON",
        "state": "CO", "postal_code": "801222632", "telephone_number": "720-283-3886",
        "fax_number": "720-283-8229"}, {"country_code": "US", "country_name": "United
        States", "address_purpose": "MAILING", "address_type": "DOM", "address_1":
        "7720 S BROADWAY", "address_2": "STE 590", "city": "LITTLETON", "state": "CO",
        "postal_code": "801222632", "telephone_number": "720-283-3886", "fax_number":
        "720-283-8229"}], "taxonomies": [{"code": "207X00000X", "desc": "Orthopaedic
        Surgery", "primary": true, "state": "CO", "license": "28229"}], "identifiers":
        []},{"enumeration_type": "NPI-1", "number": 1821164674, "last_updated_epoch":
        1183852800, "created_epoch": 1164326400, "basic": {"name_prefix": "MR.", "first_name":
        "TODD", "last_name": "KEMP", "middle_name": "ALLEN", "credential": "LPC",
        "sole_proprietor": "NO", "gender": "M", "enumeration_date": "2006-11-24",
        "last_updated": "2007-07-08", "status": "A", "name": "KEMP TODD"}, "other_names":
        [], "addresses": [{"country_code": "US", "country_name": "United States",
        "address_purpose": "LOCATION", "address_type": "DOM", "address_1": "2465 S
        DOWNING ST", "address_2": "SUITE 110", "city": "DENVER", "state": "CO", "postal_code":
        "802105822", "telephone_number": "303-778-5774", "fax_number": "303-778-2436"},
        {"country_code": "US", "country_name": "United States", "address_purpose":
        "MAILING", "address_type": "DOM", "address_1": "12242 W NEW MEXICO AVE", "address_2":
        "", "city": "LAKEWOOD", "state": "CO", "postal_code": "802283928", "telephone_number":
        "303-980-8263"}], "taxonomies": [{"code": "101YP2500X", "desc": "Counselor
        Professional", "primary": true, "state": "CO", "license": "1620"}], "identifiers":
        [{"identifier": "1620", "code": "01", "desc": "Other", "state": "CO", "issuer":
        "LPC LICENSE"}]},{"enumeration_type": "NPI-1", "number": 1942429956, "last_updated_epoch":
        1375315200, "created_epoch": 1177459200, "basic": {"name_prefix": "DR.", "first_name":
        "CHRISTOPHER", "last_name": "KEMP", "middle_name": "F", "credential": "DDS",
        "sole_proprietor": "NO", "gender": "M", "enumeration_date": "2007-04-25",
        "last_updated": "2013-08-01", "status": "A", "name": "KEMP CHRISTOPHER"},
        "other_names": [], "addresses": [{"country_code"[...]
