---
http_interactions:
- request:
    method: get
    uri: https://npiregistry.cms.hhs.gov/api/?state=co&taxonomy_description=midwife&version=2.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result_count":10, "results":[{"enumeration_type": "NPI-1", "number":
        1568464899, "last_updated_epoch": 1327449600, "created_epoch": 1117497600,
        "basic": {"name_prefix": "MRS.", "first_name": "ANNE", "last_name": "WALTERS",
        "middle_name": "LOUISE", "credential": "CNM MSN", "sole_proprietor": "NO",
        "gender": "F", "enumeration_date": "2005-05-31", "last_updated": "2012-01-25",
        "status": "A", "name": "WALTERS ANNE"}, "other_names": [], "addresses": [{"country_code":
        "US", "country_name": "United States", "address_purpose": "LOCATION", "address_type":
        "DOM", "address_1": "701 E HAMPDEN AVE", "address_2": "SUITE 130", "city":
        "ENGLEWOOD", "state": "CO", "postal_code": "801132736", "telephone_number":
        "303-781-5299", "fax_number": "303-781-5809"}, {"country_code": "US", "country_name":
        "United States", "address_purpose": "MAILING", "address_type": "DOM", "address_1":
        "701 E HAMPDEN AVE", "address_2": "SUITE 130", "city": "ENGLEWOOD", "state":
        "CO", "postal_code": "801132736", "telephone_number": "303-781-5299", "fax_number":
        "303-781-5809"}], "taxonomies": [{"code": "176B00000X", "desc": "Midwife",
        "primary": true, "state": "CO", "license": "128551"}], "identifiers": [{"identifier":
        "92783341", "code": "01", "desc": "Other", "state": "CO", "issuer": "MEDICAID
        GROUP NUMBER"}, {"identifier": "20070748", "code": "01", "desc": "Other",
        "state": "CO", "issuer": "MEDICAID GROUP NUMBER"}, {"identifier": "91480361",
        "code": "05", "desc": "MEDICAID", "state": "CO", "issuer": ""}, {"identifier":
        "22832564", "code": "01", "desc": "Other", "state": "CO", "issuer": "MEDICAID
        GROUP NUMBER"}]},{"enumeration_type": "NPI-1", "number": 1376547067, "last_updated_epoch":
        1280188800, "created_epoch": 1118275200, [...]
