---
http_interactions:
- request:
    method: get
    uri: https://npiregistry.cms.hhs.gov/api/?state=&taxonomy_description=midwife&version=2.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result_count":10, "results":[{"enumeration_type": "NPI-1", "number":
        1477585230, "last_updated_epoch": 1551699229, "created_epoch": 1152144000,
        "basic": {"first_name": "REBECCA", "last_name": "DAVIS", "middle_name": "F",
        "credential": "APRN, CNM", "sole_proprietor": "NO", "gender": "F", "enumeration_date":
        "2006-07-06", "last_updated": "2019-03-04", "status": "A", "name": "DAVIS
        REBECCA"}, "other_names": [{"code": "1", "type": "Former Name", "last_name":
        "FLORES", "first_name": "REBECCA", "middle_name": "L.", "credential": "RN"}],
        "addresses": [{"country_code": "US", "country_name": "United States", "address_purpose":
        "LOCATION", "address_type": "DOM", "address_1": "203 ALLENDALE DR", "address_2":
        "", "city": "PORT ALLEN", "state": "LA", "postal_code": "707673219", "telephone_number":
        "225-389-1311", "fax_number": "225-389-1330"}, {"country_code": "US", "country_name":
        "United States", "address_purpose": "MAILING", "address_type": "DOM", "address_1":
        "PO BOX 1158", "address_2": "", "city": "ABBEVILLE", "state": "LA", "postal_code":
        "705111158", "telephone_number": "337-892-0630", "fax_number": "337-893-0403"}],
        "taxonomies": [{"code": "367A00000X", "desc": "Advanced Practice Midwife",
        "primary": true, "state": "LA", "license": "AP03087"}], "identifiers": [{"identifier":
        "1696846", "code": "05", "desc": "MEDICAID", "state": "LA", "issuer": ""}]},{"enumeration_type":
        "NPI-1", "number": 1740631704, "last_updated_epoch": 1539880000, "created_epoch":
        1467244800, "basic": {"first_name": "KATRINA", "last_name": "EINANDER", "middle_name":
        "ALINE", "credential": "L.M.", "sole_proprietor": "YES", "gender": "F", "enumeration_date":
        "2016-06-30", "last_updated": "2018-10-18", "status": "A", "name": "EINANDER
        KATRINA"}, "other_names": [{"code": "5", "type": "Other Name", "last_name":
        "EINANDER", "first_name": "KAIDE", "middle_name": "ALINE", "credential": "L.M."}],
        "addresses": [{"country_code": "US", "country_name": "United States", "address_purpose":
        "LOCATION", "address_type": "DOM", "address_1": "601 S BOONE ST STE 2", "address_2":
        "", "city": "ABERDEEN", "state": "WA", "postal_code": "985208504", "telephone_number":
        "206-778-2347", "fax_number": "844-675-9487"}, {"country_code": "US", "country_name":
        "United States", "address_purpose": "MAILING", "address_type": "DOM", "address_1":
        "3200 CAPITAL MALL DR SW APT BB202", "address_2": "", "city": "OLYMPIA", "state":
        "WA", "postal_code": "985028122", "telephone_number": "206-778-2347", "fax_number":
        "844-675-9487"}], "taxonomies": [{"code": "176B00000X", "desc": "Midwife",
        "primary": true, "state": "WA", "license": "MW60650176"}], "identifiers":
        [{"identifier": "2063863", "code": "05", "desc": "MEDICAID", "state": "WA",
        "issuer": ""}], "practiceLocations": [{"address_type": "DOM", "address_1":
        "619 SW 152ND ST", "address_2": "", "city": "BURIEN", "state": "WA", "postal_code":
        "981662212", "country_code": "US", "country_name": "United States", "fax_number":
        "844-675-9487", "telephone_number": "206-659-7805", "update_date": "2018-10-18
        16:10"}]},{"enumeration_type": "NPI-1", "number": 1407398647, "last_updated_epoch":
        1624294620, "created_epoch": 1478217600, "basic": {"first_name": "LENKA",
        "last_name": "CECH", "middle_name": "VYROUBALOVA", "credential": "CNM", "sole_proprietor":
        "NO", "gender": "F", "enumeration_date": "2016-11-04", "last_updated": "2021-06-21",
        "status": "A", "name": "CECH LENKA", "certification_date": "2021-06-21"},
        "other_names": [{"code": "1", "type": "Former Name", "last_name": "VYROUBALOVA",
        "first_name": "LENKA", "credential": "CNM"}], "addresses": [{"country_code":
        "US", "country_name": "United States", "address_purpose": "LOCATION", "address_type":
        "DOM", "address_1": "2109 SUMNER AVE", "address_2": "", "city": "ABERDEEN",
        "state": "WA", "postal_code": "985203600", "telephone_number": "360-532-8631"},
        {"country_code": "US", "country_name[...]
