---
http_interactions:
- request:
    method: get
    uri: https://npiregistry.cms.hhs.gov/api/?state=co&taxonomy_description=midwife&version=2.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result_count":10, "results":[{"enumeration_type": "NPI-1", "number":
        1821049388, "last_updated_epoch": 1531737782, "created_epoch": 1147392000,
        "basic": {"name_prefix": "MS.", "first_name": "KAREN", "last_name": "BROWN",
        "middle_name": "RUBY", "credential": "MSN, CNM", "sole_proprietor": "NO",
        "gender": "F", "enumeration_date": "2006-05-12", "last_updated": "2018-07-16",
        "status": "A", "name": "BROWN KAREN"}, "other_names": [], "addresses": [{"country_code":
        "US", "country_name": "United States", "address_purpose": "LOCATION", "address_type":
        "DOM", "address_1": "3292 PEORIA ST", "address_2": "", "city": "AURORA", "state":
        "CO", "postal_code": "80010", "telephone_number": "303-360-6276"}, {"country_code":
        "US", "country_name": "United States", "address_purpose": "MAILING", "address_type":
        "DOM", "address_1": "3701 S BROADWAY", "address_2": "", "city": "ENGLEWOOD",
        "state": "CO", "postal_code": "801133611", "telephone_number": "303-360-6276",
        "fax_number": "303-467-5350"}], "taxonomies": [{"code": "163W00000X", "desc":
        "Registered Nurse", "primary": false, "state": "CO", "license": "RN.1655405"},
        {"code": "367A00000X", "desc": "Advanced Practice Midwife", "primary": true,
        "state": "CO", "license": "APN.0993949-CNM"}, {"code": "367A00000X", "desc":
        "Advanced Practice Midwife", "primary": false, "state": "CA", "license": "NMW1632"}],
        "identifiers": [{"identifier": "NMW016320", "code": "05", "desc": "MEDICAID",
        "state": "CA", "issuer": ""}], "practiceLocations": [{"address_type": "DOM",
        "address_1": "7777 W 38TH AVE UNIT A130", "address_2": "", "city": "WHEAT
        RIDGE", "state": "CO", "postal_code": "800336175", "country_code": "US", "country_name":
        "United States", "fax_number": "888-362-0686", "telephone_number": "720-418-8186",
        "update_date": "2018-03-18 18:03"}]},{"enumeration_type": "NPI-1", "number":
        1619935996, "last_updated_epoch": 1536053679, "created_epoch": 1146614400,
        "basic": {"name_prefix": "MS.", "first_name": "CAROLYN", "last_name": "BOTTONE-POST",
        "middle_name": "LOUISE", "credential": "CNM", "sole_proprietor": "NO", "gender":
        "F", "enumeration_date": "2006-05-03", "last_updated": "2018-09-04", "status":
        "A", "name": "BOTTONE-POST CAROLYN"}, "other_names": [], "addresses": [{"cou[...]
